{% extends "../../govuk_modules/govuk_template/views/layouts/govuk_template.njk" %}

{% set homepage_url = '/' %}

{% set global_header_text = 'Find UK Government data' %}

{% set logo_link_title = 'Go to the GOV.UK Homepage' %}

{% block page_title %}Find UK Government data{% endblock %}

{% block inside_header %}
   <strong class="phase-tag">BETA</strong>
{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu"> Menu </a>
      <nav id="proposition-menu">
        <ul id="proposition-links">
          <a href="/support">Support</a>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block head %}
  {% include "common/templates/includes/head.njk" %}
{% endblock %}

{% block cookie_message %}
  {% include "common/templates/includes/cookies.njk" %}
{% endblock %}

{% block footer_support_links %}
  {% include "common/templates/includes/footer-support-links.njk" %}
{% endblock %}

{% block body_end %}
  {% include "common/templates/includes/scripts.njk" %}
{% endblock %}
